<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>

<div id="user-chat-box">
  <input type="checkbox" name="arrow-check" id="arrow-check" />
  <label for="arrow-check" id="chat-box-header">Chat box</label>
  <ul id="chat-messages-list">
    <li class="other-message">
      <span>Other Message <sub>@Infinitus</sub></span>
    </li>
    <li class="self-message">
      <span>
        Self Message
        <sub>@Infinitus</sub>
      </span>
    </li>
    <div id="anchor"></div>
  </ul>
  <div id="chat-message-input-container">
    <input id="chat-message-input" placeholder="Type message here" />
    <button id="send-message">Send</button>
  </div>
</div>
<% } %>
