
    <h1>Codeial/ <%= title%></h1>
    <form action="/posts/status" method="POST">
        <input id ="status-input" type="text" name ="status" placeholder="Status" required>
        <button type="submit">Post status</button>
    </form>
    <%if(locals.status){%>
        <p>
                <%=locals.status %>
            </p>
    <%}else{%>
        <p>
            nothing
        </p>

    <%}%>
    <!-- <script src="script.js"></script> -->
