header{
    font-style: monospace;
    font-size:2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    background-color:#005c85;
    color:#9dfed0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    a{
        text-decoration: none;
        color:inherit;
        margin:0 10px;
    }
    ul{
        list-style: none;
        display:flex;
        justify-content: space-between;
        margin:0;
        font-weight: 100;
        font-size:1rem;
    }
}