<p>Dear <%= username%>,</p>

<p>You have requested to reset your password.</p>

<a href="http://localhost:8000/users/reset-password/<%= token.accessToken%>">Please click here to reset your password.</a>

<p>Please ignore this email if you did not request for a new password. Your current password will remain unchanged.</p>

<p>Regards,</p>
<p>InfiniteAkash</p>
